<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Users details</h1>
</div>

<div class="row">
    <div class="col-md-6">

        <app-users-detail-form></app-users-detail-form>

    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>CityId</th>
                    <th>RoleId</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ud of service.list">
                    <td (click)="populateForm(ud)">{{ud.first_name}}</td>
                    <td (click)="populateForm(ud)">{{ud.last_name}}</td>
                    <td (click)="populateForm(ud)">{{ud.username}}</td>
                    <td (click)="populateForm(ud)">{{ud.password}}</td>
                    <td (click)="populateForm(ud)">{{ud.e_mail}}</td>
                    <td (click)="populateForm(ud)">{{ud.phone_number}}</td>
                    <td (click)="populateForm(ud)">{{ud.city_id}}</td>
                    <td (click)="populateForm(ud)">{{ud.role_id}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(ud.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

